body {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  text-align: center;
  background-color: ghostwhite;
}

.headerStyle {
  background-color: gold;
  font-family: "Pacifico", cursive;
  text-align: center;
  padding: 1px;
  border-radius: 20px;
  border: 2px dotted black;
  outline: 4px solid black;
  outline-offset: 3px;
  margin: 23px;
}

.button {
  font-family: "Raleway", sans-serif;
  background-color: slateblue;
  width: 30%;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.showAnswer {
  font-weight: bold;
  color: slateblue;
}

.nameStyle {
  width: 35%;
  height: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.containerStyle {
  text-align: left;
  background-color: white;
  margin-left: 30%;
  margin-right: 30%;
  padding: 23px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.divResult {
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  color: red;
}

.buttonAnswer {
  font-family: "Raleway", sans-serif;
  background-color: gold;
  width: 30%;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}

.buttonPlayAgain {
  font-family: "Raleway", sans-serif;
  background-color: red;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
}
